<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba Desarrollo</title>
    <link rel="stylesheet" href="app.styles.css">

</head>
<body>
  <div class="container">
    <div class="box">Make 1</div>
    <div class="box">Make 2</div>
    <div class="box">Make 3</div>
    <div class="box">Make 4</div>
    <div class="box">Make 5</div>
    <div class="box">Make 6</div>
    <div class="box">Make 7</div>
    <div class="box">Make 8</div>
    <div class="box">Make 9</div>
    <div class="box">Make 10</div>
    <div class="box">Make 11</div>
    <div class="box">Alle Marken</div>
    <div class="box-container">
      <div class="caja">
        <h1>NEUHEITEN</h1>
        <h3>HEADLINE 2</h3>
        <button>Jetzt entdecken!</button> 
      </div>
      
      <div class="caja2">
        <h1>IDEEN FINDER</h1>
        <h3>HEADLINE 2</h3>
        <button>Jetzt entdecken!</button> 
      </div>
      <div class="box-container">
        <div class="caja3">
          <h1>BESTSELLERS</h1>
          <h3>HEADLINE 2</h3>
          <button>Jetzt entdecken!</button>
        </div>
        <div class="caja4">
          <h1>ARTIKEL DES MONATS</h1>
          <h3>HEADLINE 2</h3>
          <button>Jetzt entdecken!</button>
        </div>
    </div>
  
    <div class="title-container2">
      <h1>KATEGORIEN</h1>
    </div>
  
    <div class="box2-container">
      <div class="box2-wrapper">
        <div class="box2"></div>
        <p class="box2-text">Büro & <br>schreibgeräte</p>
      </div>
      <div class="box2-wrapper">
        <div class="box2"></div>
        <p class="box2-text">Events & <br>Veranstaltungen</p>
      </div>
      <div class="box2-wrapper">
        <div class="box2"></div>
        <p class="box2-text">Freizeit & <br>Urlaub</p>
      </div>
      <div class="box2-wrapper">
        <div class="box2"></div>
        <p class="box2-text">Gesundheit & <br>Hygiene</p>
      </div>
      <div class="box2-wrapper">
        <div class="box2"></div>
        <p class="box2-text">Haus & <br>Garten</p>
      </div>
      <div class="box2-wrapper">
        <div class="box2"></div>
        <p class="box2-text">Jahreszeiten & <br>Feiertage</p>
      </div>
      <div class="box2-wrapper">
        <div class="box2"></div>
        <p class="box2-text">Lebensmittel & <br>Getränke</p>
      </div>
      <div class="box2-wrapper">
        <div class="box2"></div>
        <p class="box2-text">Sport & <br> Spiele</p>
      </div>
      <div class="box2-wrapper">
        <div class="box2"></div>
        <p class="box2-text">Streuartikel & <br>Promotion</p>
      </div>
      <div class="box2-wrapper">
        <div class="box2"></div>
        <p class="box2-text">Süßigkeiten & <br>Knabbereien</p>
      </div>
      <div class="box2-wrapper">
        <div class="box2"></div>
        <p class="box2-text">Taschen & <br>Reise</p>
      </div>
      
    </div>
  </body>
  </html>